*.class
*.log
mainrepo

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


#idea
.idea

# VSC
.bloop
.metals
.vscode
.bsp
**/metals.sbt

# OSX
.DS_Store

# app jar files
**/*.jar

# homework files
scalaHomework.zip
