<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1}: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.spark.scheduler.DAGScheduler" level="ERROR"/>
        <Logger name="org.apache.spark.scheduler.TaskSchedulerImpl" level="ERROR"/>
    </Loggers>
</Configuration>
